
<a class="pointer" style="color:dodgerblue;" matTooltip="Volver" matTooltipPosition="above" routerLink="../listar">
  <mat-icon>arrow_back</mat-icon>
</a>
<div class="center"><h1>Registrar Alumno</h1></div>
<div class="center">
  <form [formGroup]="alumnoForm" (ngSubmit)="crear()" autocomplete="off">
    <br>
    <div class="row">
      <mat-form-field appearance="fill" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
        <mat-label>Identificación</mat-label>
        <input matInput formControlName="identificacion">
        <mat-error *ngIf="validarCampo('identificacion')">{{ validarCampo('identificacion') }}</mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Apellido</mat-label>
        <input matInput formControlName="apellido">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Dirección</mat-label>
        <input matInput formControlName="direccion">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Telefóno</mat-label>
        <input matInput formControlName="telefono">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput formControlName="correoElectronico">
      </mat-form-field>
    </div>
    <br>
    <button mat-raised-button color="primary" [disabled]="alumnoForm.invalid">Guardar</button>
  </form>

</div>