
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{margin: 2%;}
.mg-1{margin: 1%;}
.mg-2{margin: 2%;}
.mg-3{margin: 3%;}
.mg-4{margin: 4%;}

.mat-label-red{color: red;}

.pointer{ cursor: pointer;}

.center{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}