<h1>Registrar Clase</h1>
<form [formGroup]="claseForm" (ngSubmit)="crear()" autocomplete="off">
  <div class="row">
    <div class="col-sm-2">
      <label>Curso:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="cursoClase" name="cursoClase" placeholder="Curso" class="form-control"
        formControlName="curso">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Docente:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="docenteClase" name="docente" placeholder="Docente"
        class="form-control" formControlName="docente">

        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <button type="submit" class="btn btn-info" [disabled]="claseForm.invalid">Guardar</button>
    </div>
  </div>

</form>
