<div class="mg-1">
  <a routerLink="../crear" class="pointer" style="color:green;" matTooltip="Agregar alumno" matTooltipPosition="above">
    <mat-icon>person_add</mat-icon>
  </a>
  <div class="mg-1">
    <div *ngIf="flagAlumnos; else notAlumnos">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Número de identificacion</th>
            <th scope="col">Nombre completo</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Acción</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listaAlumnos">
            <th scope="row">{{item.identificacion}}</th>
            <td>{{item.nombre}} {{item.apellido}}</td>
            <td>{{item.direccion}}</td>
            <td>{{item.telefono}}</td>
            <td>
              <u class="pointer" (click)="eliminar(item)"><strong>Eliminar</strong></u>
            </td>
          </tr>
        </tbody>
      </table>
    </div>  
    <ng-template #notAlumnos>
      <mat-label class="mat-label-red">No hay <strong>ALUMNOS</strong> registrados</mat-label>
    </ng-template>
  </div>
</div>
